/* root selector for setting var for the webpage consistency */
:root {
  --main-bg-color: black;
  --main-font-color: white;
  --hover-font-color: rgb(49, 191, 196);
}

/* universal selector to have a clean canvas */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* main navigation bar */
header {
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
}

.main-logo {
  height: 100%;
  padding: 0.5rem;
  width: 30%;
}

.main-logo img {
  width: 150px;
  margin: auto 0;
}

header nav {
  display: flex;
  width: 75%;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}

header nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hurricane", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
  padding: 0 20px;
}

header nav ul li a {
  color: var(--main-font-color);
}

header nav ul li a:hover {
  color: var(--hover-font-color);
  font-weight: bolder;
  transform: scale(1.2, 1.2);
}
