/* root selector for setting var for the webpage consistency */
:root {
  --main-nav-bg-color: black;
  --main-font-color: white;
  --hover-font-color: rgb(49, 191, 196);
  --p-bg-color: rgb(209, 209, 209);
  --global-padding: 20px;
  --border-right-color: rgba(0, 0, 0, 0.507);
}

/* universal selector to have a clean canvas */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* main navigation bar */
header {
  display: flex;
  width: 100%;
  background-color: var(--main-nav-bg-color);
  position: sticky;
  top: 0;
}

.main-logo {
  height: 100%;
  padding: 0.5rem;
  width: 30%;
}

.main-logo img {
  width: 150px;
  margin: auto 0;
}

header nav {
  display: flex;
  width: 70%;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}

header nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hurricane", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
  padding: 0 20px;
}

header nav ul li a {
  color: var(--main-font-color);
}

header nav ul li a:hover {
  color: var(--hover-font-color);
  font-weight: bolder;
  transform: scale(1.2, 1.2);
}
/* main navigation bar ends */
/* About Me section begins */
.meSection {
  display: flex;
  padding: var(--global-padding);
}

.title {
  font-family: "Hurricane", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  flex: 0 0 110px;
  padding: var(--global-padding);
  border-right: 2px solid var(--border-right-color);
  text-align: center;
}

.myProPic {
  padding: var(--global-padding);
  margin: auto 0;
}

.myProPic img {
  border-radius: 50%;
  width: 275px;
  height: 275px;
  border: 3px solid var(--hover-font-color);
}

.myStory {
  padding: var(--global-padding);
  font-family: "Dongle", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  text-align: left;
  margin: auto 0;
}

.myStory p {
  padding: 20px 30px;
  background: var(--p-bg-color);
}
/* About Me section ends */
/* My Projects section begins */
.projectSection {
  display: flex;
  padding: var(--global-padding);
}

.inner-container {
  padding: var(--global-padding);
  display: flex;
  flex-wrap: wrap;
}

.run-buddy img {
  width: 60rem;
}

.Horiseon img {
  width: 15rem;
}
/* my Projects section ends */

/* Footer CSS */
footer {
  background: var(--main-nav-bg-color);
  height: 40px;
  width: 100%;
  text-align: end;
  position: fixed;
  bottom: 0;
  color: var(--main-font-color);
}

footer h5 {
  padding: 13px;
  font-family: monospace;
  font-weight: lighter;
  font-size: 0.7rem;
}

/* Footer CSS ends */

/* CSS for contactMe.html */
.touchContainer {
  background-color: var(--border-right-color);
  color: var(--main-font-color);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.touchContainer h3 {
  font-size: 2.5rem;
  font-family: "Rancho", Verdana, Geneva, Tahoma, sans-serif;
  padding: var(--global-padding);
  font-weight: bolder;
  text-shadow: 5px 5px 10px rgba(14, 12, 12, 0.651);
}

.contactBox {
  display: flex;
  justify-content: space-around;
}

.resumeBox,
.contactBox {
  font-family: "Rancho", Verdana, Geneva, Tahoma, sans-serif;
  flex: 0 0 500px;
  padding: var(--global-padding);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.resumeBox img,
.contactBox img {
  width: 60px;
  height: 60px;
}

.contactBox h4 {
  margin: auto 0;
}

/* contactMe.html css done */
