/* root selector for setting var for the webpage consistency */
:root {
  --main-nav-bg-color: black;
  --main-font-color: white;
  --hover-font-color: rgb(49, 191, 196);
  --p-bg-color: rgb(209, 209, 209);
  --global-padding: 20px;
  --border-right-color: rgba(0, 0, 0, 0.507);
}

/* universal selector to have a clean canvas */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.navbar {
  font-family: "Hurricane", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}
